.child {
  width: 20px;
  height: 70px;
  font-weight: bold;
}

.father {
  display: flex;
  flex-direction: column;
}

.child-2 {
  width: 100px;
  margin-bottom: 3px;
}

.main {
  width: 750px;
  height: 600px;
  margin: auto;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  gap: 2px;
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
}

.father-2 {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-left: 50px;
}

.div-1 {
  height: 490px;
  background-color: black;
}
.div-2 {
  height: 400px;
  background-color: red;
}
.div-3 {
  height: 350px;
  background-color: blue;
}
.div-4 {
  height: 450px;
  background-color: brown;
}
.div-5 {
  height: 300px;
  background-color: aliceblue;
}
.div-6 {
  height: 450px;
  background-color: bisque;
}
